body {
    background-size: cover;
    background-image: url("/images/flowers.jpeg");
}
.container {
    display: flex;
    justify-content: space-between;
    overflow-y: auto; 
    max-height: 100vh;
}
#main-heading{
  font-family: "Briem Hand", cursive;
  text-align: center;
  text-decoration: underline;
  color:purple;
}
.form-container {
    width: 48%;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  color:green;
  border-bottom: 2px solid rgb(70, 219, 70);
}
.form-group {
    margin-bottom: 20px;
    font-family: "Marmelad", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#023e41;
  display: flex;
  text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    flex-basis: 50%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #13ca84;;
    border-radius: 5px;
    box-sizing: border-box;
    flex-basis: 50%;
}
.form-group input[type="number"] {
    flex: 2; 
    min-width: 150px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea {
    resize: vertical;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: whitesmoke;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.5s;
   
}
button[type="submit"]:hover {
    background-color: #e012e7;
}
#recordedTable {
    border-collapse: collapse;
    width: 100%;
    font-family: "Marmelad", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#recordedTable th, #recordedTable td {
    border: 1px solid #13ca84;
    padding: 8px;
    text-align: left;
}
#recordedTable th {
    background-color: #93f1dd;
}
